
    #wrapper {
        display: grid;
        font-size: 0.8rem;
        font-size: 0.8rem;
        width:80vw;
        height: 80vh;
        margin:  auto;
        grid-template-columns: 60vw 10vw;
        grid-template-rows: 70vh 20vh;
        grid-template-areas: 
        "topLeft  topRight"
        "bottomLeft bottomRight"; 
        margin: 5rem auto;
        border: 2px solid red;
    }
    #location {
        display:flex;
    grid-area: "topLeft bottomLeft";
    }
    #button {
        grid-area: "topRight bottomRight";
        display:flex;
        border-radius: 0.5rem;
        border: 1px solid blue;
        margin: auto;
    }
   